@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.countdownTimer {

  text-align: center;
  /*background: #00ECB9;*/
  font-family: sans-serif;
  font-weight: 100;
  
  
  .h1clock{
    /*color: #0090c5;*/
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
  }
  
  .clockdiv{
    font-family: sans-serif;
    /*color: #fff;*/
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
  }
  
  .timetext{
    margin: 3px;
    padding: 10px;
    border-radius: 3px;
    /*background: #0090c5;*/
    display: inline-block;
  }
  
  .timetitle{
    padding: 15px;
    border-radius: 3px;
    /*background: #89D329 80%;*/
    display: inline-block;
  }
  
  .smalltext{
    padding-top: 5px;
    font-size: 16px;
  } 
}